
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* applied styles */


.header h2 {
	font-size: 3rem;
	display: inline-block;
	background-color:#bdf083;
	border:2px dashed black;
	color:black;
	border-radius:2rem;
	margin: 2%;
	padding: 1%;
 } 

h3 {
	font-size: 3rem;
	padding: 2%;
}

h4{
	font-size: 1.5rem;
	padding: 1%;
}

/* p {
	font-size: 1rem;
} */


.nav-landing{
	display:flex;
	justify-content:space-between;
	width: 100%;
}


.b1{
    background-color: #f6d186;
}

.b2{
    background-color:#cbe2b0;
}

.b3{
    background-color:#f19292;
}

.b4{
    background-color:#9FB9BF;
}
header div {
	display:flex;
	justify-content: center;
	align-items:center;
}

.title {
	width: 100%;
	text-align: center;
}
main{
	display:flex;
	flex-direction: column;
}
main section div {
	width: 25%;
	padding: 1%;
	border: 2px dashed black;
	border-radius: 2rem;
	text-align: center;
	line-height: 2;
}

section div img {
	width: 100%;
	border-radius: 2rem;
	margin: auto;
}

section div p {
	width: 90%;
	margin: auto;
}
.people {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
	animation-name: slide;
	animation-duration: 2s;
}
@keyframes slide {
	from {
		margin-right: 100%;
		opacity: 0;
	}
	to {
		margin-right: 0%;
		opacity: 1;
	}
}
.box1 {
	background-color:#f6d186 ;
}
.box2 {
	background-color:#9FB9BF ;
}
.box3 {
	background-color:#f19292 ;
}
.box4 {
	background-color:#cbe2b0 ;
}
.box5 {
	background-color:#f6d186 ;
}
footer{
    padding:5% 0%;
	margin:2%;
	width: 100%;
}
footer nav {
	display: flex;
	justify-content: space-between;
}



@media(max-width: 1000px) {
	main div {
		width: 45%;
		margin: auto;
	}

	.nav-landing2 {
		display: flex;
	}

	button {
		font-size: 1rem;
	}

}
@media(max-width: 800px) {
    h1 {
        font-size: 2.5rem;
    }
    h2 {
        font-size: 2rem;
    }

    li {
        font-size: 1.75rem;;
	}
	main section div {
		width: 45%;
	}
	
	
}
@media(max-width: 500px) {
	h1 {
		font-size: 2.5rem;
	}
	main section div {
		width: 80%;
	}
	
	button {
		font-size: 1rem;
	}
	

}